.emailList{
	flex: 1;
	overflow: auto;
	padding-left: 10px;
}

.emailList__settings{
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid whitesmoke;
	background-color: white;

	position: sticky;
	top: 0;
	z-index: 999;
	padding-right: 10px;
}

.emailList__sections{
	position: sticky;
	top: 0;
	display: flex;
	justify-content: space-evenly;
	z-index: 999;
	border-bottom: 1px solid whitesmoke;
	background-color: white;
}