.sidebarOption{
	display: flex;
	align-items: center;
	height: 40px;
	padding: 0 10px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	cursor: pointer;
	color: gray;
}
.sidebarOption .MuiSvgIcon-root{
	padding: 5px !important;
}

.sidebarOption > h3 {
	margin-left: 10px;
	font-size: 14px;
	flex: 1;
	font-weight: 400;
}

.sidebarOption > p {
	display: none;
	font-weight: 300;
}

.sidebarOption:hover > p,
.sidebarOption--active > p {
	display: inline;
}

.sidebarOption:hover,
.sidebarOption:hover>h3,
.sidebarOption:hover>p,
.sidebarOption--active,
.sidebarOption--active>h3,
.sidebarOption--active>p {
    background-color: #fcecec !important;
    color: #c04730 !important;
    font-weight: 800 !important;
}

